/* Hello */

@media (min-width:320px) {/*low end phones*/}
@media (min-width:480px) {/*high end phones*/}
@media (min-width:600px) {/*tablets of varying degrees*/}
@media (min-width:801px) {/*laptops and mini pcs*/}
@media (min-width:1280px) {/*deskktops and laptops*/}



.sekuya-regular {
  font-family: "Sekuya", system-ui;
  font-weight: 400;
  font-style: normal;
}




.climate-crisis-main {
  font-family: "Climate Crisis", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "YEAR" 1979;
}





h1 { color: rgb(182, 149, 243); }

h2,h3 {color: #90D6FF}

body {background-color: hsl(0, 7%, 11%);}

body {color: color(srgb 1 1 1);}


@counter-style fallback {
    system: fixed; 
    symbols: "\2160" "\2161" "\2162";
    fallback: decimal;
}

.list{
    list-style: fallback;
}

.boxAttendance{
    background-color: rgb(9, 20, 24);
    border: 5px solid rgba(150, 255, 90, 0.336);
    padding: 5px 15px 15px 20px;
    margin: 5mm 15mm 5mm 4mm ;

    max-width: 400px;
    min-width: 200px;       
}

html {
    font-size: 16px;
}

.ems > li {
    font-size: 1.25em;
    color: rgb(255, 255, 255);
    display: block;
    position: static;
}

.agendaHeader
{
    font-size: 1.3pc;
    
}

.title
{
    border-color: rebeccapurple;
    border-style: dotted hidden dotted ;
    border-width: .75rem;
    border-radius: 20%;
    font-family: "Sekuya", system-ui;
    text-align: center;

    margin-bottom: 35px;
    margin-left: 50px;
    margin-right: 50px;

    padding-top: 1vw;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 1vh;

}

h1 + .title
{
    margin-top: 50px;
}

.agendaMeet ol{

    display: inline;
    list-style-type: none;
    padding: 3;
    gap: 600px;
   
    

}

.agendaMeet li a {
    
    text-decoration: underline;
    color: rgb(181, 116, 255);
    font-family: "Climate Crisis", sans-serif;
    font-variation-settings: "YEAR" 1979;
   
}

button:hover 
{
    color: blue;
}

.scale-down{
    max-width: 60%;
    height: auto;
}


.imageScale
{

    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 19px;
    align-items: start;
    position: relative;
    margin: 10px auto;
    max-width: 5000px;
   
   
}

a:active{
    color:green;
}

#questionConcern
{
    background-color: black;
    color:white;
    width: 150px;
    height: auto;
    margin: auto;
}

#Business ~ #newBusiness * {
  color: rgb(209, 209, 255);
}


section.media {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}

.downloading {

    padding: 30px;
    font-size: larger;

}


video[controls]
{
    border: 2px solid #fa0000;
    border-radius:  8px;
    
}




fieldset label {

    color: color-mix(in srgb, rgb(0, 255, 191) 40%, rgb(190, 235, 235) 60%);
    margin: auto;

}

.gitHubLink
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;

    & > a {
        color:rgb(245, 241, 45)
    }
}


.form-example:has(input[required])
{
    color: rgb(236, 64, 115);
    font-family: 'Times New Roman', Times, serif;
    text-shadow: #90D6FF;
}







